

.Header {
    position: fixed;
    display: flex;
    height: 60px;
    background: #222222;
    align-items: center;
   width: 100%;
   z-index: 10;
}

.Headerinner {
    width: 500px;
    justify-content: center;
    display: flex;
   
}

.NavBar {
    width: 280px;
    display: flex;
    justify-content: space-between;
}

.NavBar li {
    list-style: none;
    color: white;
    font-family: "Ubuntu";
    font-size: 22px;
}

